<!--<h2>Snacks </h2>-->
<%# f.fields_for snacks do |snack| %>
  <%#= snack_label :name %>
  <%#=  snack.text_field :name %>
  <%#= snack_label :calories %>
  <%#=  snack.number_field :calories %>
  <%#= snack_label :deliciouness %>
  <%#=  snack.number_field :deliciouness %>
  <%#=  snack.select :delicouness, (1..10) %>
  <%#     ^^create dropdown                        ^^^  range of dropdown, could also use an array %>
<%# end %>
<%#=  f.submit "Submit" %>

<h1>Edit an employee</h1>
<%=  %>
# As a user, I should be able to create AND edit an Employee, and only be able to select 1 dog from a list of already existing dogs.