<h1><%= @dog.name %></h1>
<hr>
<p><%= @dog.breed %></p>
<p><%= @dog.age %></p>
<br/>
<h2>Employees:</h2>
<ul>
    <% @dog.employees.each do |employee| %>
        <li><%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee) %></li>
    <% end %>
</ul>
